<div [ngSwitch]="type" style="width:75px">
  <div id="administratifChip" class="chip mat-elevation-z2" *ngSwitchCase="'administratif'">Administratif</div>
  <div id="naturelChip" class="chip mat-elevation-z2" *ngSwitchCase="'naturel'">Lieu naturel</div>
  <div id="barChip" class="chip mat-elevation-z2" *ngSwitchCase="'bar'">Bar</div>
  <div id="hotelChip" class="chip mat-elevation-z2" *ngSwitchCase="'hotel'">Hotel</div>
  <div id="cultureChip" class="chip mat-elevation-z2" *ngSwitchCase="'culture'">Culture</div>
  <div id="transportChip" class="chip mat-elevation-z2" *ngSwitchCase="'transport'">Transport</div>
  <div id="magasinChip" class="chip mat-elevation-z2" *ngSwitchCase="'magasin'">Magasin</div>
  <div id="restaurantChip" class="chip mat-elevation-z2" *ngSwitchCase="'restaurant'">Restaurant</div>
  <div id="activitiesChip" class="chip mat-elevation-z2" *ngSwitchCase="'divertissement'">Divertissement</div>
  <div id="serviceChip" class="chip mat-elevation-z2" *ngSwitchCase="'service'">Service</div>
  <div id="autreChip" class="chip mat-elevation-z2" *ngSwitchCase="'autre'">Autre</div>
</div>
