.chip {
  width: 75px;
  height: 15px;
  line-height: 15px;
  font-size: 11px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

#administratifChip {
  background-color: #72B4DF;
}

#naturelChip {
  background-color: #16a085;
}

#barChip {
  background-color: #2980b9;
}

#hotelChip {
  background-color: #E96005;
}

#cultureChip {
  background-color: #2c3e50;
}

#transportChip {
  background-color: #7f8c8d;
}

#magasinChip {
  background-color: #f39c12;
}

#restaurantChip {
  background-color: #c0392b;
}

#activitiesChip {
  background-color: black;
}

#serviceChip {
  background-color: black;
}

#autreChip {
  background-color: black;
}
