<div id="main-container" class="container">
  <div class="row">
    <div class="col-md-7 order-2 order-md-1" style="height: auto">
          <div class="row">
            <div class="col-12 right-parts-title d-md-none" style="margin-bottom: 15px">
              Actualités
            </div>
            <div class="col-4 date-container sticky-top" style="">
              Aujourd'hui
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ8seP5qpXfIp55t-E6Z7rlvhRhYUPI9UHAvuhR-L3_pMr9xK2CA" height="35" width="35">
                <div class="actuTitle">Vous n'avez pas d'actualités pour le moment</div>
              </li>
            </ul>
            <!--<div class="col-4 date-container sticky-top" style="">
              Mardi 21 Février
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
            </ul>
            <div class="col-4 date-container sticky-top" style="">
              Mercredi 22 Février
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
            </ul>
            <div class="col-4 date-container sticky-top" style="">
              Jeudi 23 Février
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
            </ul>
            <div class="col-4 date-container sticky-top" style="">
              Vendredi 24 Février
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
            </ul>
            <div class="col-4 date-container sticky-top" style="">
              Samedi 25 Février
            </div>
            <ul class="col-8 actu-container">
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
              <li class="actuItem mat-elevation-z2">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                <div class="actuTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">Pinty Restaurant</div>
                <div class="actuContent">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.</p>
                </div>
              </li>
            </ul>!-->
          </div>
    </div>
    <div class="col-md-5 order-1 order-md-2">
      <div class="row">
        <div class="col-12 right-parts-title">
          Avis en attentes
        </div>
        <div class="col-12 " style="margin-top: 15px; height: auto;">
          <ul class="mat-elevation-z2 right-parts-ul" style="background-color: white">
            <li id="noPendingReviews">Vous n'avez pas d'avis en attente</li>
            <!--<li class="avisItem">
                <div class="avisImgContainer">
                  <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
                </div>
                <div class="avisTxt">
                  <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                    <span>Le Saint Michel</span>
                  </div>
                  <div class="avisReview">
                    <mat-icon svgIcon="full_star"></mat-icon>
                    <mat-icon svgIcon="full_star"></mat-icon>
                    <mat-icon svgIcon="full_star"></mat-icon>
                    <mat-icon svgIcon="full_star"></mat-icon>
                    <mat-icon svgIcon="full_star"></mat-icon>
                  </div>
                </div>
                <div class="avisBtnContainer">
                  <button class="avisBtn">Noter</button>
                </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                  <span>Le Saint Michel</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                  <span>Le Saint Michel</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                  <span>Le Saint Michel</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                  <span>Le Saint Michel</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']">
                  <span>Le Saint Michel</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>
            <li class="avisItem">
              <div class="avisImgContainer">
                <img src="./assets/image/mock_lieu.jpeg" height="35" width="35">
              </div>
              <div class="avisTxt">
                <div class="avisTitle" [routerLink]="['place/5ac8b8cef56b8b6127dce670']" *ngIf="suggestionLoaded | async">
                  <span>{{ this.suggestions.results[0].name }}</span>
                </div>
                <div class="avisReview">
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                  <mat-icon svgIcon="full_star"></mat-icon>
                </div>
              </div>
              <div class="avisBtnContainer">
                <button class="avisBtn">Noter</button>
              </div>
            </li>-->
          </ul>
        </div>
        <div id="suggBlockTitle" class="col-12 right-parts-title" (click)="onLoadSuggestion()">
          Suggestions
        </div>
        <div id="suggBlock" class="col-12" style="margin-top: 15px; height: auto;">
          <div id="noPendingSuggestions" *ngIf="suggestion === null" class="mat-elevation-z2 right-parts-ul suggestion" style="background-color: white">
              Pas de suggestions
          </div>
          <ul *ngIf="suggestion !== null" class="mat-elevation-z2 right-parts-ul suggestion" style="background-color: white">
            <li class="suggItem">
              <div class="suggTopPart">
                <div class="avisImgContainer">
                  <img [src]="suggestion.image" height="35" width="35">
                </div>
                <div class="avisTxt">
                  <div class="avisTitle" [routerLink]="['place/' + suggestion.id]">
                    <span>{{suggestion.name}}</span>
                  </div>
                  <app-rater [rate]="suggestion.rating" [color]="'#998DA0'" [width]="15" [height]="15"></app-rater>
                </div>
                <app-typeChip [type]="suggestion.type"></app-typeChip>
              </div>
              <div class="suggBotPart">
                <div class="compatContainer d-none d-lg-block">
                    <app-compat [compatScore]="suggestion.compatibility"></app-compat>
                </div>
                <div class="suggLink" [routerLink]="['place/' + suggestion.id]">
                  Voir plus
                </div>
              </div>
              <div class="compatContainer d-lg-none" style="position: absolute; top: 40px; right: 15px">
                <div class="compatCircle mat-elevation-z2"></div>
                <span class="compatTxt">70%</span>
              </div>
            </li>
          </ul>
          <div id="suggestion-feedback" *ngIf="suggestion !== null">
            <button class="navbtn mat-elevation-z2" (click)="onSuggestionRating(2)">Bonne</button>
            <button class="navbtn mat-elevation-z2" (click)="onSuggestionRating(1)">Moyenne</button>
            <!--<button class="navbtn mat-elevation-z2" (click)="onSuggestionRating(0)">Insatisfait</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
