<div id="filterBtn" (click)="toggleFilter()" [ngClass]="filterTab ? 'selected' : ''">Filtrer</div>
<div id="filterDiv" class="mat-elevation-z1" *ngIf="filterTab">
  <form [formGroup]="filterForm">
    <input class="filterInput" type="text" placeholder="ID" formControlName="id">
    <input class="filterInput" type="text" placeholder="Author ID" formControlName="authorID">
    <input class="filterInput" type="text" placeholder="placeID" formControlName="placeID">
    <input class="filterInput" type="text" placeholder="Creer le" formControlName="createdAt">
    <input class="filterInput" type="text" placeholder="Note" formControlName="rating">
  </form>
</div>
<div id="contentContainer">
  <app-admin-table [tableValues]="tableValues" [catFiltersConfig]="catFiltersConfig" (onEdit)="editAct($event)" (onDelete)="deleteAct($event)"></app-admin-table>
</div>
