@import "../../../../scss/variables";
@import "~bootstrap/scss/bootstrap-reboot";

#pastille-container {
  width: 48px;
  height: 20px;
}

.compatCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
}

.compatTxt {
  color: $gris_sombre;
  position: relative;
  top: -2px;
  left: 5px;
  font-size: 15px;
}

#compatTxtContainer {
  width: calc(100% - 20px);
  height: 100%;
  float: right;
  text-align: right;
}
